<div class="container my-3">
    <div class="jumbotron ">
        <h1 class="display-4">About the Angular App</h1>
        <p class="lead">This is a simple Angular project that I built to learn more about Angular in general.</p>
        <hr class="my-4">
        <p>I built this app referring to a Angular tutorial video by <b>CodeWithHarry</b> Youtube Channel.</p>
        <a class="btn btn-primary btn-lg" href="https://myportfolio-vibhav.netlify.app/" role="button" target="_blank">Visit my webiste</a>
        <a class="btn btn-secondary btn-lg" href="https://www.youtube.com/watch?v=0LhBvp8qpro" role="button" target="_blank">Reference video</a>
      </div>
</div>
